{extends file="../Layouts/index.html"}

{*样式*}
{block name="style"}
<link rel="stylesheet" href="./Public/css/swiper-3.4.2.min.css">
{literal}
	<style>
		.container a{text-decoration: none;color: #181818;}
		.container a:hover{color:#EF5353 ;}
		.container li a{text-decoration: none;color: #181818;}
		.container li a:hover{color:#EF5353 ;}
		.container>.row{width: 100%;}
		.container>.row form{padding: 0;}
		.container>.row>.col-sm-9{width: 100%;}
		.container>.row>.col-sm-9 .mt10{width: 100%;}
		.container>.row>.col-sm-9 .mt10>.row{display: flex;justify-content: center; align-items: center;}
		.container>.row>.col-sm-9 .mt10>.row>.text_input{padding: 0;}
		.container>.row>.col-sm-9 .mt10>.row>.search-type{padding: 0 0 0 10px;}
		.container>.row>.col-sm-9 .mt10>.row ul{display: flex;min-width:300px ;margin: 0;padding: 0 10px;}
		.list-group-item{display: flex;align-items: center;width: 100%;}
		.list-group-item .picture{height: 100px;width: 170px;text-align: center;margin-right: 20px;}
		.list-group-item .picture img{height: 100px;}
		.contact-group .list-group-item{margin-bottom: 15px;border-radius: 5px;}
		.contact-group .list-group-item .media-body{flex-flow: 1;display: flex;flex-direction: column;width: 100%;align-items: flex-start;}
		.contact-group .list-group-item .media-body h3{height: 40px;line-height: 40px;font-size: 24px;margin: 0;}
		.contact-group .list-group-item .title-a{display: flex;flex-direction: row;}
		.contact-group .list-group-item .title-a .title{font-size: 22px;}
		.contact-group .list-group-item .title-a .author{padding: 15px 0 0 20px;}
		.contact-group .list-group-item .author-info{display: flex;flex-direction: row;width: 100%;font-size: 12px;}
		.contact-group .list-group-item .author-info span{padding-right: 20px;height: 30px;line-height: 30px;min-width: 50px;}
		.contact-group .list-group-item .author-info .insert_at{flex-grow: 1;}
		.contact-group .list-group-item .author-info .keywords em{color: #EF5353;font-style: normal;}
		.contact-group .list-group-item .author-info .num{display: flex;flex-direction: row;align-items: center;}
		.contact-group .list-group-item .author-info .fa{width: 15px;height: 15px;margin-right: 5px;}
		.contact-group .list-group-item .author-info .edit{width: 100px;padding: 0;display: flex;justify-content: space-around;}
		.contact-group .list-group-item .intro{line-height: 25px;font-size: 14px;}
		.search_submit{width: 120px;margin:0 10px;border: none;background: #EF5353;color: #fff;font-size: 17px;height: 30px;border-radius: 5px;}
		.swiper-container{height: 300px;width: 100%;margin-bottom: 20px;}
		.swiper-container .swiper-wrapper{width: 100%;height: auto;top: 50%;}
		.swiper-container img{width: 100%;}
		
	</style>
{/literal}
{/block}

{*默认主页标题class*}
{block name=style2}
active
{/block}

{*主体右部更改*}
{block name=main}
	<div class="fh5co-main">
	    <div class="container">
	        <div class="row">
	        	<div class="swiper-container">
					<div class="swiper-wrapper">
						{foreach $banner as $k=>$v}
					    <div class="swiper-slide"><img src="../Public/Uploads/BannerPic/{$v['filename']}"/></div>
					    {/foreach}
					</div>
					<div class="swiper-pagination"></div>
				</div>
	            <form class="col-sm-9" action="index.php?c=article&a=index" method="post">
	                <div class="well mt10">
	                    <div class="row">
	                    	<ul class="nav nav-pills nav-stacked nav-contacts">
			                    <li class="active" style="min-width: 135px;margin-right: 10px;">
			                        <a href="index.php?c=article&a=index" style="display: flex;align-items: center;">
			                            	查看文章列表
			                            <span class="badge pull-right" style="">{$count}</span>
			                        </a>
			                    </li>
			                    {if $nickname=='海棠酒满'}
			                    <li style="width: 120px;">
			                        <a href="index.php?c=article&a=add" >
			                            	+ 添加文章
			                        </a>
			                    </li>
			                    {/if}
			                </ul>
			                
	                        <div class="col-sm-9 text_input" style="float: left;height: 40px;">
	                            <input type="text" placeholder="查找文章" class="form-control" name="search" id="uvalue">
	                        </div>
	                        <div class="col-sm-3 search-type" style="width:100px;float: left;">
	                            <select id="search-type" class="" data-placeholder="Search Type" style="width: 80px;height: 30px;" name="searchCondition" >
	                                <option value="title" selected>标题</option>
	                                <option value="author">作者</option>
	                                <option value="intro">简介</option>
	                                <option value="keywords">关键词</option>
	                                <option value="phone">时间</option>
	                            </select>
	                        </div>
	                       		<input class="search_submit" type="submit" value="查询" style=""/>
	                    </div>
	                </div><!-- well -->
	                 </form>
	                <br />
	                <div class="pull-right">
	                    <ul class="pagination pagination-split pagination-sm pagination-contact" >
	                    	<li><a href="index.php?c=article&a=index&num=1{$url}">首页</a></li>
	                        <li class="{if $num==1}disabled{else}{/if}"><a href="{if $num>1}index.php?c=article&a=index&num={$num-1}{$url}{else}{/if}"><i class="fa fa-angle-left"></i></a></li>
	                        {if $page<=6}
		                        {for $foo=1 to $page}
		                       	<li style="" class='{if $foo==$num}active{/if}'><a href="index.php?c=article&a=index&num={$foo}{$url}">{$foo}</a></li>
		                        {/for}
		                    {else if $num<=3}
		                    	{for $foo=1 to 6}
		                       	<li style="" class='{if $foo==$num}active{/if}'><a href="index.php?c=article&a=index&num={$foo}{$url}">{$foo}</a></li>
		                        {/for}
		                        <li class="disabled"><a href="##" style="cursor: default;">...</a></li>
		                    {else if $num>=$page-3}
		                    	<li class="disabled"><a href="##" style="cursor: default;">...</a></li>
		                    	{for $foo=$page-5 to $page}
		                       	<li style="" class='{if $foo==$num}active{/if}'><a href="index.php?c=article&a=index&num={$foo}{$url}">{$foo}</a></li>
		                        {/for}   
		                    
	                        {else}
	                    		<li class="disabled"><a href="##" style="cursor: default;">...</a></li>
	                        	{for $foo=$num-2 to $num+3}
		                       	<li style="" class='{if $foo==$num}active{/if}'><a href="index.php?c=article&a=index&num={$foo}{$url}">{$foo}</a></li>
		                        {/for}
	                    		<li class="disabled"><a href="##" style="cursor: default;">...</a></li>
	                        {/if}
	                        <li class="{if $num==$page}disabled{else}{/if}"><a href="{if $num<$page}index.php?c=article&a=index&num={$num+1}{$url}{else}{/if}"><i class="fa fa-angle-right"></i></a></li>
	                    	<li><a href="index.php?c=article&a=index&num={$page}{$url}">尾页</a></li>
	                    	<li class="disabled"><a href="##" style="cursor: default;">共{$page}页</a></li>
	                    </ul>
	              </div>
	                <h3 class="xlg-title">文章列表</h3>
	                
	                <div class="list-group contact-group">
	                	{if $select==false}
	                	<div class="list-group-item null"  style="justify-content: center;">
	                		<h3>------- 未搜索到相关内容 --------</h3>
	                	</div><!-- list-group-item -->
	                	{else}
	                	{foreach $select as $k=>$v}
	                    <div class="list-group-item">
	                    	<div class="picture">
		                        <img class="" src="../Public/Uploads/articlePic/th_{$v['picture']}" alt="...">
	                    	</div>
	                        <div class="media-body">
	                        	<div class="title-a"><h3 class="title"><a href="index.php?c=details&a=index&id={$v['id']}">{strip_tags($v['title'])}</a></h3><span class="author">{$v['author']}</span></div>
	                        	<div class="author-info">
	                        		<span class="keywords">关键词：<em>{strip_tags($v['keywords'])}</em></span>
	                        		<span class="insert_at">上传时间：{strip_tags($v['insert_at'])}</span>
	                        		<span class="click_num num"><a href="##"><i class="fa fa-eye"></i>{strip_tags($v['click_num'])}</a></span>
	                        		<span class="up_num num"><a href="#"><i class="fa fa-commenting-o"></i>{strip_tags($v['up_num'])}</a></span>
	                        		{if $nickname=='海棠酒满'}
	                        		<span class="edit"><a href="index.php?c=article&a=edit&eid={$v['id']}">编辑</a><a href="index.php?c=article&a=delete&eid={$v['id']}&pic={$v['picture']}">删除</a></span>
	                        		{/if}
	                        	</div>
	                        	
	                        	<p class="intro">{strip_tags($v['intro'])}</p>
	                        </div><!-- media-body -->
	                    </div><!-- list-group -->
	                    {/foreach}
	                    {/if}
	                </div><!-- list-group-item -->
	                
	                
	                
	                
	            
	        </div><!-- row -->  
	    
	    </div><!-- contentpanel -->
	    
	</div>
{*主体右部分jquery*}
{/block}
{block name="script"}	
<script type="text/javascript" src="./Public/js/swiper-3.4.2.min.js"></script>
{literal}
<script>
	function autoSwiper(){
		var mySwiper = new Swiper('.swiper-container', {
			speed:5000,
			autoplay:true,
			loop : true,
		})
		var h=-$('.swiper-slide').height()/2+"px";
		$('.swiper-slide').css({
			"transform":"translateY("+h+")"
		});
	}
	autoSwiper();
	$(window).resize(function(){
		autoSwiper();
	})
	
</script>
{/literal}
{/block}

