{extends file="../Layouts/index.html"}

{*样式*}
{block name="style"}
{literal}
	<style>
		.contentpanel{min-height: 500px;}
		.contentpanel>.row{width: 100%;}
		.contentpanel>.row>.col-sm-9{width: 100%;}
		.contentpanel>.row>.col-sm-9 .mt10{width: 100%;}
		.contentpanel>.row>.col-sm-9 .mt10>.row{display: flex;justify-content: center; align-items: center;}
		.contentpanel>.row>.col-sm-9 .mt10>.row ul{display: flex;min-width:300px ;justify-content: center;margin: 0;}
		.search_submit{width: 120px;margin-left: 20px;border: none;background: #337ab7;color: #fff;font-size: 17px;height: 30px;border-radius: 5px;}
		.contentpanel table{border: 1px solid #ccc;padding: 0;border-collapse: collapse;width: 100%;background: #fff;}
		.contentpanel table tbody{width: 100%;}
		.contentpanel table th,.contentpanel table td{border: 1px solid #ccc;line-height: 50px;text-align: center;padding: 5px 10px;}
		.contentpanel table th{height: 40px;line-height: 40px;}
		.contentpanel table td img{height: 100px;}
	</style>
{/literal}
{/block}

{*默认主页标题class*}
{block name=class7}
active
{/block}

{*主体右部更改*}
{block name="mainpanel"}
	<div class="mainpanel">
	    <div class="contentpanel">
	        <div class="row">
	            <form class="col-sm-9" action="index.php?c=banner&a=index" method="post">
	                 <h5 class="md-title">文章</h5>
	                
	                
	              
	                <div class="well mt10">
	                	
	                    <div class="row">
	                    	<ul class="nav nav-pills nav-stacked nav-contacts">
			                    <li class="active" style="min-width: 135px;margin-right: 10px;">
			                        <a href="index.php?c=banner&a=index" >
			                            	查看图片
			                            <span class="badge pull-right">{$count}</span>
			                        </a>
			                    </li>
			                    <li style="width: 120px;">
			                        <a href="index.php?c=banner&a=add" >
			                            	+ 添加图片
			                        </a>
			                    </li>
			                </ul>
			                
	                        <div class="col-sm-9" style="float: left;height: 40px;">
	                            <input type="text" placeholder="查找图片" class="form-control" name="search" id="uvalue">
	                        </div>
	                        <div class="col-sm-3" style="width:100px;float: left;">
	                            <select id="search-type" class="" data-placeholder="Search Type" style="width: 100px;height: 30px;" name="searchCondition" >
	                                <option value="title" selected>名称</option>
	                                <option value="author">上传时间</option>
	                                <option value="keywords">格式</option>
	                            </select>
	                        </div>
	                       
	                      
	                       		<input class="search_submit" type="submit" value="查询" style=""/>
	                       	
	                    </div>
	                </div><!-- well -->
	                 </form>
	                <br />
	                
	                <div class="pull-right">
	                    <ul class="pagination pagination-split pagination-sm pagination-contact" >
	                    	<li><a href="index.php?c=banner&a=index&num=1{$url}">首页</a></li>
	                        <li class="{if $num==1}disabled{else}{/if}"><a href="{if $num>1}index.php?c=banner&a=index&num={$num-1}{$url}{else}{/if}"><i class="fa fa-angle-left"></i></a></li>
	                        {if $page<=6}
		                        {for $foo=1 to $page}
		                       	<li style="" class='{if $foo==$num}active{/if}'><a href="index.php?c=banner&a=index&num={$foo}{$url}">{$foo}</a></li>
		                        {/for}
		                    {else if $num<=3}
		                    	{for $foo=1 to 6}
		                       	<li style="" class='{if $foo==$num}active{/if}'><a href="index.php?c=banner&a=index&num={$foo}{$url}">{$foo}</a></li>
		                        {/for}
		                        <li class="disabled"><a href="##" style="cursor: default;">...</a></li>
		                    {else if $num>=$page-3}
		                    	<li class="disabled"><a href="##" style="cursor: default;">...</a></li>
		                    	{for $foo=$page-5 to $page}
		                       	<li style="" class='{if $foo==$num}active{/if}'><a href="index.php?c=banner&a=index&num={$foo}{$url}">{$foo}</a></li>
		                        {/for}   
		                    
	                        {else}
	                    		<li class="disabled"><a href="##" style="cursor: default;">...</a></li>
	                        	{for $foo=$num-2 to $num+3}
		                       	<li style="" class='{if $foo==$num}active{/if}'><a href="index.php?c=banner&a=index&num={$foo}{$url}">{$foo}</a></li>
		                        {/for}
	                    		<li class="disabled"><a href="##" style="cursor: default;">...</a></li>
	                        {/if}
	                        <li class="{if $num==$page}disabled{else}{/if}"><a href="{if $num<$page}index.php?c=banner&a=index&num={$num+1}{$url}{else}{/if}"><i class="fa fa-angle-right"></i></a></li>
	                    	<li><a href="index.php?c=banner&a=index&num={$page}{$url}">尾页</a></li>
	                    	<li class="disabled"><a href="##" style="cursor: default;">共{$page}页</a></li>
	                    </ul>
	              </div>
	                <h3 class="xlg-title">图片列表</h3>
	                <table class="">
	                	<tr>
	                		<th>编号</th>
	                		<th>图片</th>
	                		<th>名称</th>
	                		<th>格式</th>
	                		<th>上传时间</th>
	                		<th>操作</th>
	                	</tr>
	                	{if $select==false}
	                	<tr><td colspan="6">------- 未搜索到相关内容 --------</td></tr>
	                	{else}
	                	{foreach $select as $k=>$v}
	                	<tr>
	                		<td>{$v['id']}</td>
	                		<td><a href="../Public/Uploads/BannerPic/{$v['filename']}"><img class="" src="../Public/Uploads/BannerPic/th_{$v['filename']}" alt="..."></a></td>
	                		<td>{$v['filename']}</td>
	                		<td>{$v['type']}</td>
	                		<td>{$v['insert_at']}</td>
	                		<td><a href="index.php?c=banner&a=delete&id={$v['id']}&name={$v['filename']}">删除</a></td>
	                	</tr>
	                	{/foreach}
	                	{/if}
	                </table>
	        </div><!-- row -->  
	    
	    </div><!-- contentpanel -->
	    
	</div>
{*主体右部分jquery*}
{/block}
{block name="script"}	
{literal}
<script>
	
</script>
{/literal}
{/block}

